.btn-join-class {
    background-color: #2a5dc4 !important;
}

.btn-join-class:hover {
    background-color: #1e489a !important;
}

.modal-content {
    background-color: #2a5dc4 !important;
    min-height: 14rem;
    border-radius: 20px !important;
}

.title-modal {
    font-weight: 400;
}


.input-code {
    border-radius: 8px;
    border: none;
    max-width: 20rem;
    letter-spacing: 8px;
    font-weight: 500;
    height: 2rem;
}

.btn-join-modal {
    background-color: #fff !important;
    color: #2a5dc4 !important;
    width: 7rem;
    height: 2rem;
    border-radius: 12px !important;
    margin-bottom: 20px;
}

.btn-join-modal:hover {
    background-color: rgb(236, 236, 236) !important;
    color: #2a5dc4 !important;
    width: 7rem;

    border-radius: 12px !important;
    margin-bottom: 20px;
}

.buletan1{
    z-index: 1;
}
