.btn-create-class {
    background-color: #14C38E !important;
    border: none !important;
}

.modal-content-teacher {
    background-color: #14C38E !important;
    min-height: 100%;
    border-radius: 20px !important;
}

.group-input textarea{
    resize: none;
    height: 6rem !important;
    border-radius: 8px;
    padding: 5px;
}

.input-name {
    letter-spacing: 0;
}

.text-code {
    font-size: 20px;
    font-weight: 300;
}
.text-name {
    font-size: 20px;
    font-weight: 300;
}
.text-desc {
    font-size: 20px;
    font-weight: 300;
}