.btn-create {
    background-color: #14C38E !important;
}
.btn-create:hover {
    background-color: #0a9c71 !important;
}

.teach-search{
    background-color: #14C38E !important;
}

.teach-search:hover{
    background-color: #0a9c71 !important;
}

.text-logo {
    color: #14C38E !important;
}

.menu-teacher{
    color: #14C38E !important;
}